.jumbotron {
  background: #1F2833;
  color: #66FC61;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #1F2833;
    border-color: #1F2833; }
    .jumbotron .btn-primary:hover {
      background: #1F2833; }
  .jumbotron p {
    color: #C5C6C7;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #F2833;
    overflow: hidden;
    width: 150px;
    height: 15
    0px;
    margin: auto; }
    .jumbotron .lang-logo img {
      max-width: 70%; }

